@import "styles/globals";

.linksTop {
    a {
        margin-left:1rem;
        @media (max-width: $breakpoint-md) {
            margin-left:.5rem;
            margin-right:.5rem;
        }
    }
}

.linksBottom {
    a {
        margin-right:1rem;
        @media (max-width: $breakpoint-md) {
            margin-left:.5rem;
            margin-right:.5rem;
        }
    }
}
