.container {
    background: var(--secondary);
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    gap: 10px;
    padding: 4rem;
    h1 {
        font-size: 2.5rem;
    }
}

.highlight {
    color: var(--primary);
}

.button {
    background: var(--primary);
    border: 5px solid white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
