.contact-form {
    width: 100%;
    min-height: 800px;
    margin-right: auto;
    padding: var(--section-padding);

    button {
        background: var(--primary);
    }
    form {
        max-width: 60vw;
    }
}

.title {
    margin-bottom: 3rem;
}
