.container {
    background: var(--tertiary);
    display: grid;
    grid-template-columns: 1fr auto auto 1fr;
    grid-auto-flow: row;
    gap: 10px;
    padding: 4rem 0;
}

.column {
    padding: 3rem;
    display: grid;
    grid-auto-flow: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 380px;
}

.left {
    grid-column: 2;
    background: var(--secondary);
    color: white;
}

.right {
    grid-column: 3;
    color: var(--secondary);
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 1.5rem;
    width: 100%;
    padding: 2rem;
    ul li {
        padding: 10px 0;
        width: 100%;
        text-align:left;
        font-size: 1.125rem;
    }
}

.highlight {
    font-size: 5rem;
}

.button-cta {
    width: 100%;
    max-width: 250px;
    background: var(--primary);
    border: 4px solid white;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    margin-left: auto;
    margin-right: auto;
    // css reboot means we need more specificity :/
    a {
        color: var(--secondary);
    }
}