.markdown-container {
    p {
        padding-bottom: 8px;
    }
    
    li {
        padding: 8px 0;
    }
    li::before {
        background-image: url('/icon-library-2_checkmark-green.svg');
        background-size: contain;
        background-repeat: no-repeat;
        height: 12px;
        width: 18px;
        content: "";
        display: inline-block;
        margin: 0.1rem 1rem 0 0;
    }
    
}