.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-flow: row;
    gap: 30px;
    padding: 4rem 0;
}

.step1 {
    border-top: 10px solid black;
    margin-right: 70px;
    padding: 15px;
}

.step {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}