.landing {
    @apply text-bunting;
    h4 {
        font-weight: 600;
        font-size: 1.4em;
    }

    ul.checklist li {
        @apply pl-6 ml-0;
        line-height: 1.75em;
        list-style-type: none;
        &::before {
            @apply inline-block absolute left-0 p-0;
            content: url('/icon-library-checkmark-blue.svg');
            height: 22.5px;
            width: 12px;
        }
    }
}
