.section {
    background: var(--tertiary);
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    align-items: flex-start;
    justify-content: flex-start;
    grid-template-rows: [line] auto [title] 90px [recommendations] auto;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: var(--section-padding);
    .line {
        width: 150px;
        border-top: 10px solid black;
        grid-row: line;
    }
    .title {
        padding-top: 20px;
        font-size: 2rem;
        grid-row: title;
    }
    .recommendations {
        padding-top: 20px;
        display: grid;
        grid-template-columns: 35% 35%;
        gap: 20px;
        grid-auto-flow: row;
        grid-row: recommendations;
        .card {
            display: grid;
            grid-auto-flow: column;
            grid-template-rows: [rating] 50px [quote] auto [author] auto;
            blockquote {
                font-size: 1.5rem;
                padding-top: 10px;
                grid-row: quote;
            }
            .rating {
                grid-row: rating;
            }
        }
    }
}
