.hubspot {
  @apply mt-8;
  img {
    @apply mb-4;
  }
  h4 {
    @apply text-2xl font-bold mb-2 text-teal;
  }
  label {
    @apply text-[14px] mb-0 block font-medium;
  }
  label[placeholder="Enter your Industry Subsector"] {
    @apply mt-2 mb-0;
  }
  legend {
    @apply text-[12px] text-teal mb-1;
  }
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  select,
  textarea {
    padding: .375rem .75rem;
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    width: 100% !important;
    @apply h-[38px];
  }
  select {
    @apply h-[38px];
  }
  textarea {
    @apply h-[100px];
  }
  .hs_submit {
    @apply flex justify-end;
  }
  input[type="submit"], button[type="submit"] {
    @apply text-center text-sm cursor-pointer md:w-fit border-1 border-solid transition-all no-underline normal-case px-10 py-3 font-sans bg-teal border-teal hover:bg-robin text-white rounded-[3px] inline-block;
  }
  .hs-fieldtype-intl-phone {
    width:100% !important;
  }
  div[class="hs-fieldtype-intl-phone"] {
    width:100% !important;
  }
  li {
    label {
      @apply mt-2;
    }
  }
  fieldset {
    @apply mb-4 pb-4;
    max-width: 100% !important;
    margin-bottom:1rem !important;
    div {
      &:last-child {
        @apply mt-2;
        @media (min-width: 402px) {
          @apply mt-0;
        }
      }
    }
  }
  .hs-form-required {
    @apply text-red-500;
  }
  ul {
    @apply list-none;
    li {
      @apply text-teal list-none p-0 m-0;
      label {
        font-size: 12px;
      }
      &[role="checkbox"] {
        color: black;
        label {
          font-size: 14px;
        }
        input {
          margin-right: 0.5rem;
        }
      }
    }
  }
}
