.mdx {
    p {
      margin-bottom: 1em;
    }
    h3, h4 {
      font-weight: 600;
      margin-bottom: 1em;
    }
    h3, h4 {
      font-size: 1em;
    }
    a {
      font-weight: 600;
      @apply text-afs-green;
      text-decoration: underline;
    }
  }
  
  