@tailwind base;

@layer base {
  body {
    @apply font-sans;
  }
  h1 {
    @apply text-4xl md:text-5xl font-bold mb-6 text-bluewood;
    strong {
      @apply text-dodger font-bold;  
    }
  }
  p,
  li {
    color: #72809d;
    a {
      @apply font-semibold text-navy hover:underline;
    }
  }
  nav {
    a {
      @apply font-sans font-medium text-bluewood hover:text-navy;
    }
  }
  .footer {
    a {
      @apply font-sans font-medium hover:underline hover:text-navy;
    }
  }
  .p {
    p {
      @apply mb-6 last:mb-0;
    }
  }
  .text-white {
    p, li {
      color:white;
      margin-bottom:1rem;
    }
  }
  .text-mischka {
    p, li {
      color:#D5D9E1;
    }
    p {
      @apply mb-4;
    }
    li {
      @apply mb-2;
    }
  }
  .checklist {
    ul {
      list-style-image: url(https://a.storyblok.com/f/153125/x/34afe2de07/usx-check.svg);
      li {
        margin-left:20px;
        padding:0 0 1rem 10px;
        &:last-child {
          padding:0 0 0 10px;
        }
      }
    }
    &.form {
      ul {
        li {
          padding:0 0 0 10px;
        }
      }
    }
  }
  .checktitle {
    padding:0 0 1rem 2rem;
    &::before {
      content: url(https://a.storyblok.com/f/153125/x/34afe2de07/usx-check.svg);
      position:absolute;
      margin-left:-2rem;
    }
  }
  .btn {
    @apply text-center font-medium cursor-pointer w-full md:w-fit border-1 border-solid transition-all no-underline normal-case inline-block rounded-lg px-6 py-4 font-sans;
  }
  .btn-primary {
    @apply bg-dark-blue border-dark-blue hover:bg-navy-hover text-white;
  }
  .btn-invert {
    @apply border-dark-blue text-dark-blue hover:bg-titan;
  }
  .btn-invert-white {
    @apply border-white text-white hover:bg-white/30;
  }
  .btn-light {
    @apply border-white text-white;
  }
  .bg-lynch {
    &.cta {
      @apply bg-[#72809D] bg-[url("https://a.storyblok.com/f/153125/x/287f574701/usx-cta-bg-grey.svg")] bg-cover;
    }
  }
  .bg-navy {
    &.cta {
      @apply bg-[url("https://a.storyblok.com/f/153125/x/9dde3929de/usx-cta-bg-navy.svg")] bg-cover ;
    }
  }  
  #hubspotForm {
    img {
      @apply mb-4;
    }
    h4 {
      @apply text-2xl font-bold mb-2 text-bluewood;
    }
    p {
      @apply mb-4;
    }
    label {
      font-size: 14px;
      margin-bottom:.5rem;
      display:block;
    }
    label[placeholder="Enter your Industry Subsector"] {
      margin-top:1rem;
    }
    input[type=text],input[type=email],input[type=tel], select, textarea {
      padding: 14.5px 14.5px;
      border-radius: .5rem;
      border: 1px solid #72809d;
      min-height: 55px;
      width:100%;
    }
    select {
      @apply h-[55px];
    }
    input[type=submit] {
      @apply text-center font-medium cursor-pointer md:w-fit border-1 border-solid transition-all no-underline normal-case inline-block rounded-md px-4 py-4 font-sans bg-dark-blue border-dark-blue hover:bg-navy-hover text-white mt-6;
      width:99% !important;
    }
    li {
      label {
        margin-top:.5rem;
      }
    }
    fieldset {
      @apply pb-2;
      max-width:100%;
      div {
        &:last-child {
          @apply mt-2 md:mt-0;
        }
      }
    }
    ul {
      li {
        color:#000b8f;
        label {
          font-size:12px;
        }
        &[role="checkbox"] {
          color:black;
          label {
            font-size:14px;
          }
          input {
            margin-right:.5rem;
          }
        }
      }
    }
  }
  .card {
    @apply justify-between;
    .card-image {
      @apply duration-[0700ms] translate-y-[0px] relative z-0;
      &.coming-soon {
        &::before {
          content: "Coming Soon";
          @apply text-bluewood bg-gallery w-full text-center absolute px-1 py-1 top-0 text-xs z-10 rounded-t-lg;
        }
      }
      &.available {
        &::before {
          content: "Available Now";
          @apply text-bluewood bg-hawkes-blue w-full text-center absolute px-1 py-1 top-0 text-xs z-10 rounded-t-lg;
        }
      }
    }
    .card-body {
      @apply duration-[0600ms] transform-none md:translate-y-[0px] z-10 p-6 bg-white relative;
    }
    .card-button {
      @apply bottom-0 relative z-20 px-6 pb-6 w-full bg-white;
    }
  }  
  .statistic {
    strong {
      @apply text-sky-blue;
    }
  }
  .accordion-button {
    @apply relative flex items-center w-full text-left font-semibold text-lg; 
  }
  .accordion-body {
    @apply mt-2;
    p {
      @apply mb-6 last:mb-0;
    }
    ul {
      @apply ml-4 mb-6;
      li {
        @apply list-disc mb-2 last:mb-0;
        ul {
          @apply mt-6;
        }
      }
    }
  }
  .gatsby-image-wrapper [data-main-image] {
    opacity: 1;
    transition: none;
  }
  .legal {
    p {
      @apply mb-6 last:mb-0;
    }
    a {
      @apply break-all;
    }
    h3 {
      @apply text-2xl md:text-2xl lg:text-3xl font-bold mb-6 text-bluewood;
    }
    h4 {
      @apply text-2xl font-bold mb-4 text-bluewood;
    }
    h5 {
      @apply text-lg font-semibold mb-4 text-bluewood leading-6;
    }
    hr {
      @apply my-12;
    }
    ul {
      @apply ml-4 mb-6;
      li {
        @apply list-disc mb-2 last:mb-0;
        ul {
          @apply mt-6;
        }
      }
    }
    ol {
      @apply ml-4 mb-6;
      li {
        @apply list-decimal mb-2 last:mb-0;
        ul {
          @apply mt-6;
        }
      }
    }
  }
}

@tailwind components;

@layer components {
  .nav-tabs {
    .nav-link {
      &.active {
        @apply text-navy bg-melrose;
      }
    }
    .nav-item {
      .active {
        a {
          @apply border-navy;
        }
      }
    }
  }
  .faq {
    @apply border border-melrose md:border-lilac md:bg-lilac;
    &::before {
      content: url(https://a.storyblok.com/f/153125/x/2c55a76ed6/usx-down-arrow.svg);
      @apply absolute -ml-8 -rotate-90 md:rotate-0;
    }
    .intro {
      @apply overflow-hidden h-0 md:h-6;
    }
  }
  .faq[aria-expanded='true'] {
    @apply border border-dodger bg-lilac md:border-lilac md:bg-lilac;
    &::before {
      content: url(https://a.storyblok.com/f/153125/x/2c55a76ed6/usx-down-arrow.svg);
      @apply absolute -rotate-180;
    }
    .intro {
      @apply overflow-auto h-auto mt-4 md:mt-0;
    }
    .read-more {
      @apply hidden;
    }
  }
  #tabs-tabContentFaq {
    .tab-pane {
      @media only screen and (max-width: 767px) {
        @apply block opacity-100;
      }
    }
  }
  .tab-cta {
    .nav-item {
      .active {
        @apply bg-lilac text-bluewood;
      }
      &.first {
        .active {
          @apply bg-lynch text-white;
        }
      }
    }
    .tab-pane {
      @media only screen and (max-width: 767px) {
        @apply block opacity-100;
      }
      &.first {
        @apply h-full bg-[url('https://a.storyblok.com/f/153125/x/0d425eef63/usx-cta-background.svg')] bg-cover bg-bottom;
        ul {
          @apply relative;
          li {
            @apply pl-8;
            &::before {
              content: url('https://a.storyblok.com/f/153125/x/07ac27124f/usx-check-white.svg');
              @apply absolute left-0 w-[15px] h-[12px];
            }
          }
        }
        &.active {
          @apply hidden md:grid;
        }
      }
    }
  }
  .cta {
    &.first {
      ul {
        @apply relative;
        li {
          @apply pl-6;
          &::before {
            content: url('https://a.storyblok.com/f/153125/x/07ac27124f/usx-check-white.svg');
            @apply absolute left-0 w-[15px] h-[12px];
          }
        }
      }
    }
  }
}

@tailwind utilities;

.h-mobile {
  height: calc(100% - 85px);
  @supports (-webkit-touch-callout: none) {
    height: calc(100% - 105px);
    @media only screen and (max-width: 786px) {
      height: calc(100% - 165px);
    }
  }
}