@tailwind base;

@layer base {
  h1 {
    @apply text-5xl font-bold mb-6 text-bluewood;
    strong {
      @apply text-dodger font-bold;  
    }
  }
  p,
  li {
    color: #72809d;
  }
  .text-white {
    p, li {
      color:white;
      margin-bottom:1rem;
    }
  }
  .checklist {
    ul {
      list-style-image: url(https://www.userve.com/hubfs/icons/usx-check.svg);
      li {
        margin-left:20px;
        padding:0 0 1rem 10px;
        &:last-child {
          padding:0 0 0 10px;
        }
      }
    }
    &.form {
      ul {
        li {
          padding:0 0 0 10px;
        }
      }
    }
  }
  .checktitle {
    padding:0 0 1rem 2rem;
    &::before {
      content: url(https://www.userve.com/hubfs/icons/usx-check.svg);
      position:absolute;
      margin-left:-2rem;

    }
  }
  .btn {
    @apply text-center font-medium hover:opacity-90 cursor-pointer;
    padding: 15px 2rem;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
    border-radius: 9px;
    text-transform: none;
    display: inline-block;
  }
  .btn-primary {
    border: 1px solid #000eb8;
    background-color: rgba(0, 14, 184, 1);
    color: #fff;
  }
  .btn-invert {
    border: 1px solid #000eb8;
    color: #000eb8;
  }
  .btn-light {
    border-color:white;
    color:white;
  }
  #hubspotForm {
    label {
      font-size: 14px;
      margin-bottom:.5rem;
      display:block;
    }
    label[placeholder="Enter your Industry Subsector"] {
      margin-top:1rem;
    }
    input[type=text],input[type=email],input[type=tel], select, textarea {
      padding: 14.5px 14.5px;
      border-radius: .5rem;
      border: 1px solid #72809d;
      min-height: 55px;
      width:100%;
    }
    input[type=submit] {
      padding: 15px 2rem;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: 500;
      text-decoration: none;
      border-radius: 9px;
      text-transform: none;
      display: inline-block;
      border: 1px solid #000eb8;
      background-color: rgba(0, 14, 184, 1);
      color: #fff;
      width:98%;
      margin-top:1rem;
      cursor:pointer;
    }
    fieldset {
      padding-bottom:1rem;
      div {
        div {
          &:last-child {
      
          }
        }
      }

    }
    ul {
      li {
        color:#000b8f;
        label {
          font-size:12px;
        }
        &[role="checkbox"] {
          color:black;
          label {
            font-size:14px;
          }
          input {
            margin-right:.5rem;
          }
        }
      }
    }
  }
  .card {
    .card-image {
      transition: 0.7s;
      transform: translateY(0px);
    }
    .card-body {
      transition: 0.6s;
      transform: translateY(0px);
    }
    .card-button {
      bottom: -50px;
      transform: translateY(40px);
      transition: 0.6s;
    }
    &:hover {
      .card-image {
        transform: translateY(-40px);
        &::before {
          transform: translateY(-40px);
        }
      }
      .card-body {
        transform: translateY(-80px);
      }
      .card-button {
        transform: translateY(0px);
        bottom: 0px;
      }
    }
    &.coming-soon {
      .card-image {
        &::before {
          content: "Coming Soon";
          padding: 4px 8px;
          background-color: white;
          border-radius: 8px;
          position: absolute;
          z-index: 2;
          bottom: 20px;
          left: 1.5rem;
          font-size: 12px;
          transition: 0.8s;
        }
      }
    }
  }  
  .statistic {
    strong {
      @apply text-sky-blue;
    }
  }
  .accordion-button {
    @apply relative flex items-center w-full text-navy text-left font-semibold text-lg mb-2; 
  }
  .accordion-body {
    p {
      @apply mb-6 last:mb-0;
      a {
        @apply font-semibold text-navy hover:underline;
      }
    }
  }
}

@tailwind components;
@tailwind utilities;
