@tailwind base;

@layer base {
  h1 {
    @apply text-4xl md:text-5xl font-bold mb-6 text-bluewood;
    strong {
      @apply text-dodger font-bold;  
    }
  }
  p,
  li {
    color: #72809d;
    a {
      @apply font-semibold text-navy hover:underline;
    }
  }
  .p {
    p {
      @apply mb-6 last:mb-0;
    }
  }
  .text-white {
    p, li {
      color:white;
      margin-bottom:1rem;
    }
  }
  .checklist {
    ul {
      list-style-image: url(https://www.userve.com/hubfs/icons/usx-check.svg);
      li {
        margin-left:20px;
        padding:0 0 1rem 10px;
        &:last-child {
          padding:0 0 0 10px;
        }
      }
    }
    &.form {
      ul {
        li {
          padding:0 0 0 10px;
        }
      }
    }
  }
  .checktitle {
    padding:0 0 1rem 2rem;
    &::before {
      content: url(https://www.userve.com/hubfs/icons/usx-check.svg);
      position:absolute;
      margin-left:-2rem;

    }
  }
  .btn {
    @apply text-center font-medium hover:opacity-90 cursor-pointer w-full md:w-fit;
    padding: 15px 2rem;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
    border-radius: 9px;
    text-transform: none;
    display: inline-block;
  }
  .btn-primary {
    border: 1px solid #000eb8;
    background-color: rgba(0, 14, 184, 1);
    color: #fff;
  }
  .btn-invert {
    border: 1px solid #000eb8;
    color: #000eb8;
  }
  .btn-light {
    border-color:white;
    color:white;
  }
  #hubspotForm {
    img {
      @apply mb-4;
    }
    h4 {
      @apply text-2xl font-bold mb-6 text-bluewood;
    }
    label {
      font-size: 14px;
      margin-bottom:.5rem;
      display:block;
    }
    label[placeholder="Enter your Industry Subsector"] {
      margin-top:1rem;
    }
    input[type=text],input[type=email],input[type=tel], select, textarea {
      padding: 14.5px 14.5px;
      border-radius: .5rem;
      border: 1px solid #72809d;
      min-height: 55px;
      width:100%;
    }
    input[type=submit] {
      padding: 15px 2rem;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: 500;
      text-decoration: none;
      border-radius: 9px;
      text-transform: none;
      display: inline-block;
      border: 1px solid #000eb8;
      background-color: rgba(0, 14, 184, 1);
      color: #fff;
      width:99%;
      margin-top:1rem;
      cursor:pointer;
    }
    li {
      label {
        margin-top:.5rem;
      }
    }
    fieldset {
      @apply pb-2;
      max-width:100%;
      div {
        &:last-child {
          @apply mt-2 md:mt-0;
        }
      }
    }
    ul {
      li {
        color:#000b8f;
        label {
          font-size:12px;
        }
        &[role="checkbox"] {
          color:black;
          label {
            font-size:14px;
          }
          input {
            margin-right:.5rem;
          }
        }
      }
    }
  }
  .card {
    .card-image {
      @apply duration-[0700ms] translate-y-[0px] relative z-0;
      &.coming-soon {
        &::before {
          content: "Coming Soon";
          padding: 4px 8px;
          background-color: white;
          border-radius: 8px;
          position: absolute;
          z-index: 2;
          bottom: 20px;
          left: 1.5rem;
          font-size: 12px;
          transition: 0.8s;
          @apply text-navy;
        }
      }
    }
    .card-body {
      @apply duration-[0600ms] transform-none md:translate-y-[0px] z-10 p-6 bg-white relative;
    }
    .card-button {
      @apply bottom-0 md:bottom-[-50px] relative md:absolute md:translate-y-[40px] duration-[600ms] z-20 px-6 pb-6 w-full bg-white;
    }
    &:hover {
      .card-image {
        @apply translate-y-[0px] md:translate-y-[-40px];
        &::before {
          @apply transform-none md:translate-y-[-40px];
        }
      }
      .card-body {
        @apply transform-none md:translate-y-[-80px];
      }
      .card-button {
        @apply transform-none md:translate-y-0 bottom-0;
      }
    }
  }  
  .statistic {
    strong {
      @apply text-sky-blue;
    }
  }
  .accordion-button {
    @apply relative flex items-center w-full text-left font-semibold text-lg; 
  }
  .accordion-body {
    @apply mt-2;
    p {
      @apply mb-6 last:mb-0;
    }
  }
  .gatsby-image-wrapper [data-main-image] {
    opacity: 1;
    transition: none;
  }
  .legal {
    p {
      @apply mb-6 last:mb-0;
    }
    h3 {
      @apply text-2xl md:text-2xl lg:text-3xl font-bold mb-6 text-bluewood;
    }
    h4 {
      @apply text-2xl font-bold mb-4 text-bluewood;
    }
    h5 {
      @apply text-lg font-semibold mb-4 text-bluewood leading-6;
    }
    hr {
      @apply my-12;
    }
    ul {
      @apply ml-4 mb-6;
      li {
        @apply list-disc mb-2 last:mb-0;
        ul {
          @apply mt-6;
        }
      }
    }
    ol {
      @apply ml-4 mb-6;
      li {
        @apply list-decimal mb-2 last:mb-0;
        ul {
          @apply mt-6;
        }
      }
    }
  }
}

@tailwind components;

@layer components {
  .nav-tabs {
    .nav-link {
      &.active {
        @apply text-navy bg-melrose;
      }
    }
  }
}

@tailwind utilities;


